<div class="pb-12 md:mx-auto md:max-w-4xl prose">
    {# Timestamps #}
    <div class="border-b border-primary-800/20 pb-5 mb-5">
        {# Timestamps #}
        <time class="text-sm" datetime="{{ date }}" pubdate="pubdate">
            {# Published at #}
            {% if date_updated %}<del class="opacity-40">{% endif %}Published {{ date | formatDate }}{% if date_updated %}</del>{% endif %}
            {# Updated at #}
            {% if date_updated %}&emsp;Updated {{ date_updated | formatDate }}{% endif %}
        </time>
    </div>
    <img src="/static/images/articles/{{ hero_image }}" />
    {{ content | safe }}
    <div class="border-t border-primary-800/20 pt-5 mt-5">
        ↩ <a href="{{ site.nav.blog }}">All articles</a>
    </div>
</div>
