<div class="bg-hero bg-black bg-cover bg-right w-full h-screen">
  <div class="grid h-screen place-items-center bg-midnight bg-opacity-60">
    <h1 class="text-white text-4xl md:text-6xl animate-glow font-['Permanent_Marker']">Coming Soon</h1>
  </div>
</div>
