<nav class="flex-no-wrap relative sticky top-0 flex w-full items-center justify-between bg-neutral-100 p-10 shadow-md shadow-black/5 dark:bg-neutral-600 dark:shadow-black/10 lg:flex-wrap lg:justify-start">
  <div class="flex w-full flex-wrap items-center justify-between px-6">
    <button class="block border-0 bg-transparent px-2.5 py-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden" type="button" data-te-collapse-init="" data-te-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="[&amp;>svg]:w-7">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-7 w-7">
          <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"></path>
        </svg>
      </span>
    </button>
    <div class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto">
      <a href="#"><img class="w-20" src="/static/images/logo-janky.svg" /></a>
      <a href="#">About</a>
      <a href="#">Shop</a>
    </div>
    <div class="relative flex items-center">
      <a href="#">Cart</a>
      <a href="#">Cart</a>
      <a href="#">Cart</a>
    </div>
  </div>
</nav>
