---
title: Nitpicky differences between Windows and OS X
hero_image: hero-nitpicky-os-differences.jpg
hero_alt: Windows vs OS X graphic
date: 2016-11-14
tags: blog
description: A lifelong Windows user, I tried OS X full time for 7 months. Here's a debriefing.
---

<p>Web development on Windows is taboo, and I have yet to meet another designer who prefers it over a Mac. But I grew up with Windows, and I have been extremely comfortable with it my entire life.</p>
<p>I started working at WP Engine in October of 2015, and they issued me a brand new Macbook Pro. Though I immediately put myself on the waiting list for a Dell XPS, I spent 7 interesting months getting to know the intricacies of OS X.</p>
<p>This article focuses on nitpicky differences between the 2 operating systems, as they pertain to my workflow. I try to provide a comparable tool for lacking features if I know of one to suggest.</p>

{% for section in windowsVsOsx.sections %}
  <h2 class="bg-primary-400 text-white p-4 mb-0">Section {{ section.id }}: {{ section.title }}</h2>
  {% for reason in section.reasons %}
    <div class="grid grid-cols-6 grid-rows-1 border border-t-0 border-[#ddd] py-10 odd:bg-[#f6f6f6]">
    {# Dichotomy #}
      <div class="col-span-1 text-center px-10 pr-2">
        {% if reason.dichotomy == 'good' %}<img class="mt-0 inline-block mr-2" src="/static/images/icon-check-circle.svg" alt="Good thing">{% endif %}
        {% if reason.dichotomy == 'bad' %}<img class="mt-0 inline-block mr-2" src="/static/images/icon-times-circle.svg" alt="Bad thing">{% endif %}

      {# Operating system #}
        {% if reason.operatingSystem == 'windows' %}<img class="mt-0 inline-block w-[40px]" src="/static/images/logo-windows-10.svg" alt="Windows">{% endif %}
        {% if reason.operatingSystem == 'osx' %}<img class="mt-0 inline-block w-[40px]" src="/static/images/logo-apple.svg" alt="OS X">{% endif %}
      </div>

      {# Feature breakdow #}
      <div class="prose col-span-5 px-10 pl-2">
        <h3>{{ reason.title }}</h3>
        <p>{{ reason.description | safe }}</p>

        {# Screenshot #}
        {% if reason.screenshot %}
          <img src="/static/images/articles/{{ reason.screenshot }}">
        {% endif %}
      </div>

    </div>
  {% endfor %}
{% endfor %}
