<!DOCTYPE html>
<html lang="en">
    <head>
        {# Force https: #}
        <script>
            var host = "hellojason.net";
            if ((host == window.location.host) && (window.location.protocol != "https:")) {
                window.location.protocol = "https";
            }
        </script>

        {# Google Tag Manager #}
        {% if env.isProd %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KFL2NCD');</script>
            <!-- End Google Tag Manager -->
        {% endif %}

        {# Check frontmatter for redirect command #}
        {% if redirect %}<meta http-equiv="refresh" content="0;url={{ redirect }}" />{% endif %}
        {% include "head.njk" %}
        {% if site.env %}
            <!-- capture the CSS content as a Liquid variable -->
            {% set css %}{% include "styles.min.css" %}{% endset %}
            <style>
                {{css | safe}}
            </style>
        {% else %}
            <link rel="stylesheet" href="/static/styles.min.css">
        {% endif %}

        <!-- Try and serve Google Fonts in the most efficent way possible -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    </head>
    <body class="bg-primary-400 text-black selection:bg-secondary selection:text-white page-{{ title | lower | replace(" ", "-") }} layout-{{ layout }}">
        
        {# Google Tag Manager (noscript) #}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFL2NCD"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <a href="#main" class="skip-link">Skip to main content</a>

        {# Hero #}
        {% include "hero.njk" %}
        
        {# Main container options #}
        {% if tags == 'blog' %}
            {# Blog template #}
            <main id="main" class="bg-white p-4 pt-8 md:p-10">
                {% include "blog.njk" %}
            </main>
        {% elif tags == 'case-study' %}
            {# Case study template #}
            <main id="main" class="bg-white prose">
                {{ content | safe }}
                <div class="border-t border-primary-800/20 p-5 mt-5">
                    ↩ <a href="{{ site.nav.projects }}">All projects</a>
                </div>
            </main>
        {% else %}
            {# Default template #}
            <main id="main" class="bg-white p-4 pt-8 md:p-10">
                {{ content | safe }}
            </main>
        {% endif %}
        <footer class="bg-hero-feet bg-center bg-no-repeat h-48"></footer>
    </body>
    {# <script src="/static/app.min.js" defer></script> #}
</html>
