<!DOCTYPE html>
<html lang="en">
    <head>
        {# Force https: #}
        <script>
            var host = "hellojason.net";
            if ((host == window.location.host) && (window.location.protocol != "https:")) {
                window.location.protocol = "https";
            }
        </script>

        {# Google Tag Manager #}
        {% if env.isProd %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KFL2NCD');</script>
            <!-- End Google Tag Manager -->
        {% endif %}

        {# Check frontmatter for redirect command #}
        {% if redirect %}<meta http-equiv="refresh" content="0;url={{ redirect }}" />{% endif %}
        {% include "head.njk" %}
        {% if site.env %}
            <!-- capture the CSS content as a Liquid variable -->
            {% set css %}{% include "styles.min.css" %}{% endset %}
            <style>
                {{css | safe}}
            </style>
        {% else %}
            <link rel="stylesheet" href="/static/styles.min.css">
        {% endif %}

         <!-- Try and serve Google Fonts in the most efficent way possible -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chivo&family=Arimo&family=Permanent+Marker&display=swap" rel="stylesheet">

    </head>
    <body class="text-black selection:bg-secondary selection:text-white page-{{ title | lower | replace(" ", "-") }} layout-{{ layout }}">

        <a href="#main" class="skip-link">Skip to main content</a>

        {# Primary navigation #}
        {% include "nav.njk" %}

        {# Hero #}
        {% include "hero.njk" %}
        
        {# Main container options #}
        <main id="main" class="p-20">
            {{ content | safe }}
        </main>
    </body>
</html>
