---
layout: base.njk
title: Home
h1: Hello
subtitle: Janky subtitle
---

<div class="grid h-screen place-items-center bg-black bg-opacity-60">
    <h1 class="text-white uppercase text-5xl animate-glow">Coming soon</h1>
    {# <img class="w-80" src="/static/images/logo-janky.svg" /> #}
</div>
