---
layout: base.njk
title: Home
h1: Hello
subtitle: Janky subtitle
---

<div class="grid h-screen place-items-center bg-midnight bg-opacity-60">
    <h1 class="text-white text-4xl md:text-6xl animate-glow">Coming Soon</h1>
    {# <img class="w-80" src="/static/images/logo-janky.svg" /> #}
</div>
