---
title: Text
description: Text
layout: base
tags: case-study
nav: inverse
hero: false
---
<div class="cs-section bg-[#002838] bg-[url('/static/images/projects/wpengine-dxp/dxp-hero.jpg')] bg-cover bg-center text-white relative after:block after:w-full after:h-full after:absolute after:top-0 after:left-0 after:z-0 after:bg-[rgba(0,40,56,.5)]">
  <div class="cs-content z-10 relative">
    <h1 class="text-white"><span class="bg-[rgba(14,202,212,.7)]">Title</span></h1>
    <p class="font-bold"><span class="bg-[rgba(255,255,255,.26)]">Roles</span></p>
    <p class="md:text-xl lg:text-3xl">Text</p>
  </div>
</div>

<div class="cs-section">
  <div class="cs-content">
    <h2>Text</h2>
  </div>
</div>

<div class="cs-section bg-[#]">
  <div class="cs-content">
    <h2>Text</h2>
  </div>
</div>


<div class="not-prose">
  <ol class="big-list">
    <li><span class="number bg-[#8b6d27]">»</span> <span class="text bg-[#d7a93d]"></span></li>
    <li><span class="number bg-[#b1b1b1]">»</span> <span class="text bg-[#d5d5d5]"></span></li>
  </ol>
</div>

---

---
title: 
description: 
layout: base
tags: case-study
hero: true
---

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3 text-left md:text-right">
    <h3 class="my-0">Roles</h3>
    <p>Design, Development</p>
    <h3 class="mb-0">Software</h3>
    <p>jQuery</p>
    <h3 class="mb-0">Demo</h3>
    <a href="https://signature.wpengine.io/">Try it out</a>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
  </div>
</div>

---

---
title: 
description: 
layout: base
tags: case-study
hero: true
---

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3 text-left md:text-right">
    <h3 class="my-0">Roles</h3>
    <p>PM, Design, Development</p>
    <h3 class="mb-0">Software</h3>
    <p>Express on Node</p>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <h2>About</h2>
    <hr>
    <h3></h3>
    <img src="/static/images/projects/">
    <hr>
    <h3></h3>
    <img src="/static/images/projects/">
    <hr>
    <h3></h3>
    <img src="/static/images/projects/">
  </div>
</div>
