---
title: Contact Mover
description: Text
layout: base
tags: case-study
nav: inverse
hero: false
---

<div class="cs-section bg-[#002838] bg-[url('/static/images/projects/contact-mover/hero-bkg-skytrees.jpg')] bg-cover bg-center text-white">
  <div class="cs-content">
    <img class="mx-auto mb-0 p-0" src="/static/images/projects/contact-mover/contact-mover-v2-icon.png" alt="Contact Mover v2.0 logo" />
    <p class="font-bold text-black"><span class="bg-[rgba(255,255,255,.26)]">Product owner, Design, Development</span></p>
    <h1 class="text-white text-center"><span class="bg-[rgba(90,73,169,.7)]">The simplest way to move contacts</span></h1>
  </div>
</div>

<div class="cs-section">
  <div class="cs-content">
    <h2>An Itch Worth Scratching?</h2>
    <p>The story of Contact Mover revolves around Immense Networks, who brings value to other companies as their outsourced IT department. They identified a recurring pain point&mdash;moving new employees’ contacts from another Exchange server to their own; the steps involved were ridiculous.</p>
    <p>People loved their BlackBerrys back then, iPhone was gaining traction, Windows Mobile was still acceptable, and few in the corporate world cared about Android. The problem was that Active Sync was implemented differently, so moving contacts was a nightmare.</p>
    <blockquote>&ldquo;Build a tool that quickly and reliably transfers Exchange contacts&rdquo;</blockquote>
    <p>Surely, other IT firms were experiencing this problem and wasting just as much time. While future sales was a pipe dream, the initial goal became clear.</p>
  </div>
</div>

<div class="cs-section not-prose text-white bg-gradient-to-r from-[#6e4f7d] to-[#5949aa]">
  <div class="cs-content">
    <h2>First to market</h2>
    {# Create team macro #}
    {% macro team(name, role, image) %}
      <figure class="p-4 not-prose">
        <img class="rounded-full md:mx-auto" src="/static/images/projects/{{ image }}" />
        <figcaption class="text-base mt-2 md:text-center">
          <span class="font-bold">{{ name }}</span><br>
          <span class="">{{ role }}</span>
        </figcaption>
      </figure>
    {% endmacro %}

    {# Use team macro #}
    {{ team("Andrew Frederick", "Developer of v1.0", "contact-mover/person-andrew-frederick.jpg") }}

    <p>I worked with developer Andrew Frederick on the first version of Contact Mover. We made it utilitarian and focused on tech industry professionals.</p>

    <img class="my-12 md:mx-auto" src="/static/images/projects/contact-mover/appicon-app-store.png" alt="Apple App Store logo">

    <p>We decided that iOS had the best compatibility for syncing with various Active Sync implementations (even better than Windows Mobile); bonus points for the fact that Immense could sell it to their own clients through the App Store.</p>
  </div>
</div>

<div class="cs-section">
  <div class="cs-content">
    <h2>Fast, functional design</h2>
    <p>As with any app icon, I wanted it to scream what the app did without text. I created a moving truck carrying the current iOS Contacts App icon (the silhouette is developer Andrew).</p>

    <img class="md:mx-auto" src="/static/images/projects/contact-mover/appicon-contact-mover-v1.png" alt="Contact Mover app v1.0 logo" />

    <p>Most of the interface is a background image, reducing development time. Andrew positioned how many contacts were in each account (Exchange and Local), and he slapped 2 arrow buttons for the user to decide which way to move the contacts. This interface did not require any textual instructions, which was nice because that iPhone 3G screen was the size of a Tamagotchi.</p>

    <img class="md:mx-auto" src="/static/images/projects/contact-mover/contact-mover-v1-ui.png" />

    <blockquote>A simple, easily-understood interface was paramount for v1.0</blockquote>
  </div>
</div>

<div class="cs-section text-white bg-[#7d74bd]">
  <div class="cs-content">
    <h2 class="text-white">Workflow in need</h2>
    <p>When feedback became less about bugs and more about improving the workflow, I knew the app was going somewhere. And they were right; version 1 required users to toggle between Settings and Contact Mover a few times.</p>

    <p>The workflow went like this:</p>

    <div class="not-prose">
      <ol class="big-list">
        <li><span class="number bg-[#443588]">1</span> <span class="text bg-[#5a49a9]">Ensure <em>only</em> the old Exchange account is enabled</span></li>
        <li><span class="number bg-[#443588]">2</span> <span class="text bg-[#5a49a9]">Open Contact Mover and transfer contacts upwards into local Contacts</span></li>
        <li><span class="number bg-[#443588]">3</span> <span class="text bg-[#5a49a9]">Disable the old Exchange account and enable the new one</span></li>
        <li><span class="number bg-[#443588]">4</span> <span class="text bg-[#5a49a9]">Back in Contact Mover, transfer contacts downwards into the new Exchange account</span></li>
      </ol>
    </div>

    <p>Contact Mover had been available for 2 years at this point, so we decided to expand who it could benefit. This would require a simplistic interface and support more account types (Gmail, Hotmail, iCloud, and so forth).</p>

    <p>Forget Active Sync support&mdash;it should allow the average user to move contacts between nearly any 2 accounts.</p>
  </div>
</div>

<div class="cs-section">
  <div class="cs-content">
    <h2>Making Contact Mover better</h2>
    {{ team("Christopher McKnight", "Developer of v2.0", "contact-mover/person-christopher-mcknight.jpg") }}
    
    <p>I worked with developer Christopher McKnight on version 2 of Contact Mover. I envisioned giving users the most helpful interface possible with the fewest number of choices.</p>

    <p>The new workflow would go like this:</p>

    <div class="not-prose">
      <ol class="big-list">
        <li><span class="number bg-[#B1B1B1]">1</span> <span class="text bg-[#D5D5D5]">Choose which accounts to move contacts from and to</span></li>
        <li><span class="number bg-[#B1B1B1]">2</span> <span class="text bg-[#D5D5D5]">Scan for potential errors and notify user if there are problems</span></li>
        <li><span class="number bg-[#B1B1B1]">3</span> <span class="text bg-[#D5D5D5]">Allow user to perform the transfer</span></li>
      </ol>
    </div>

    <img class="md:mx-auto" src="/static/images/projects/contact-mover/contact-mover-v2-wireframes.jpg" />
  </div>
</div>

<div class="cs-section bg-[#f1f1f1]">
  <div class="cs-content">
    <h2>Redesigning Contact Mover</h2>
    <p>I believe my original icon concept was successful, and that legacy should simply be updated for version 2. The new icon would be inspired by iOS 7 and reference the updated Contacts app. And I’d finally give Contact Mover an identity, complete with a nifty purple color scheme.</p>

    <img class="md:mx-auto" src="/static/images/projects/contact-mover/appicon-contact-mover-v2.png" alt="Contact Mover app v2.0 logo" />

    <p>Version 2 requires the user to choose source and destination address books. Instructions are large and concise, select fields are practically big enough to hit with elbows, and clicking the Next button is the obvious goal on the page.</p>

    <img class="md:mx-auto" src="/static/images/projects/contact-mover/zoho-to-exchange.gif" alt="Realtime footage of transferring 120+ contacts in seconds" />

    <blockquote>Now, most users can transfer contacts without leaving the application</blockquote>
  </div>
</div>

<div class="cs-section">
  <div class="cs-content">
    <h2>Marketing website</h2>
    <p>I wrote user stories to identify potential questions about the app:</p>

    <div class="not-prose">
      <ol class="big-list">
        <li><span class="number bg-[#B1B1B1]">»</span> <span class="text bg-[#D5D5D5]">How does it work?</span></li>
        <li><span class="number bg-[#B1B1B1]">»</span> <span class="text bg-[#D5D5D5]">What accounts is it compatible with?</span></li>
        <li><span class="number bg-[#B1B1B1]">»</span> <span class="text bg-[#D5D5D5]">How much is it?</span></li>
        <li><span class="number bg-[#B1B1B1]">»</span> <span class="text bg-[#D5D5D5]">What can't it do?</span></li>
        <li><span class="number bg-[#B1B1B1]">»</span> <span class="text bg-[#D5D5D5]">Who built it?</span></li>
        <li><span class="number bg-[#B1B1B1]">»</span> <span class="text bg-[#D5D5D5]">Who can I complain to?</span></li>
      </ol>
    </div>


    <p>I wanted the public site to explain the passion behind Contact Mover's existence, that it was built by a small IT firm to help other IT firms. The site should also fully explain the value for the price tag.</p>

    <p>I prototyped, designed, wrote content, and developed it onto Middleman.</p>

    <img class="md:mx-auto" src="/static/images/projects/contact-mover/contact-mover-public-site.jpg" />
  </div>
</div>

<div class="cs-section bg-[#cfd7bb]">
  <div class="cs-content">
    <h2>What I learned</h2>
    <p>I welcomed insight from Immense's IT team to help me fully understand Contact Mover's purpose.</p>
    <p>I learned the importance of appropriately allocating resources when building a new product that could fail.</p>
    <p>We created Contact Mover to solve a specific internal problem in mid 2011, and that evolved into a more realized solution that continuously helps hundreds of people each month now in 2015.</p>
    <p>It was an iterative process that initially stressed utilitarian functionality above all else. That foundation allowed me to explore simple avenues to achieve new goals while remaining loyal to the product’s legacy.</p>
  </div>
</div>
