---
title: Gatortrax
description: Web application to manage millwork projects from initial bid to delivery.
layout: base
tags: case-study
hero: true
---

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3 text-left md:text-right">
    <h3 class="my-0">Roles</h3>
    <p>PM, Design, Development</p>
    <h3 class="mb-0">Software</h3>
    <p>Ruby on Rails</p>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <h2>About</h2>
    <p>Gatortrax, or Instagator, is a web-based project manager for Gator Millworks in Denham Springs. This Ruby on Rails application allows employees to create estimates, convert them to jobs, and schedule job-related tasks. It also assists with stock and organization of products and materials in inventory.</p>
    <p>The original Gtrax acted as an exploratory prototype to solidify functionality and workflows. It is undergoing an overhaul of its user interface that is more fully realized and useful for the client.</p>
    <hr>
    <h3>Authentication page</h3>
    <img src="/static/images/projects/monitor-front-gtrax.jpg">
    <hr>
    <h3>Datatable listing</h3>
    <img src="/static/images/projects/monitor-right-gtrax-table.jpg">
    <hr>
    <h3>v2.0 improvements</h3>
    <img src="/static/images/projects/monitor-right-gtrax-v2.jpg">
  </div>
</div>
