---
title: ISC Constructors
description: Marketing website for electrical contractor company.
layout: base
tags: case-study
hero: true
---

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3 text-left md:text-right">
    <h3 class="my-0">Roles</h3>
    <p>PM, Design, Development</p>
    <h3 class="mb-0">Software</h3>
    <p>WordPress</p>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <h2>About</h2>
    <p>ISC Constructors is a leading electrical contractor in the South. Their website, however, poorly represents the growth and success ISC has earned over the years.</p>
    <p>The primary goal of the website, currently under development, is to excite potential applicants and procure new employment. Our focus will revolve around the individuality of current employees and staff and their amazing achievements while working at ISC.</p>
    <p>We will also detail ISC’s safety record and reflect on team-building elements such as crawfish boils and the baseball team.</p>
    <hr>
    <h3></h3>
    <img src="/static/images/projects/monitor-front-isc.jpg">
    <hr>
    <h3>Early mockup, v01</h3>
    <p>This was a general exploration attempt using ideas from initial discovery meetings.</p>
    <img src="/static/images/projects/monitor-right-isc-alt1.jpg">
    <hr>
    <h3>Early mockup, v02</h3>
    <p>This exploration toyed with a full browser, single page, and parallax website to capture the company’s marketing movement.</p>
    <img src="/static/images/projects/monitor-right-isc-alt2.jpg">
  </div>
</div>
