---
title: Lighting Choice
description: Ecommerce website for lighting supply company.
layout: base
tags: case-study
hero: true
---

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3 text-left md:text-right">
    <h3 class="my-0">Roles</h3>
    <p>PM, Design, Development</p>
    <h3 class="mb-0">Software</h3>
    <p>Magento</p>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <h2>About</h2>
    <p>Leo founded a high-end LED lighting supply company, and his products will be available in a Houston-based commercial building as well as an online web store.</p>
    <h2>User stories</h2>
    <p>I began this project by writing user stories from the perspective of potential customers, identified by Leo's business plan and meetings. This revealed a set of design goals.</p>

    <h2>Public Website</h2>
    <p>I developed my design into a custom Magento theme using <a href="https://github.com/webcomm/magento-boilerplate">magento-boilerplate</a>, working closely with <a href="https://github.com/cmckni3">Chris McKnight</a> for backend development.</p>

    <hr>
    <h3>Home page</h3>
    <img src="/static/images/projects/mockup-lightingchoice-home.jpg">
    <hr>
    <h3>Single product page</h3>
    <img src="/static/images/projects/mockup-lightingchoice-product.jpg">
  </div>
</div>
