---
title: Mow & Tell
description: Marketing website for lawn services company.
layout: base
tags: case-study
hero: true
---

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3 text-left md:text-right">
    <h3 class="my-0">Roles</h3>
    <p>PM, Design, Development</p>
    <h3 class="mb-0">Software</h3>
    <p>WordPress</p>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <h2>About</h2>
    <p>Mow & Tell is a successful local company with the desire to grow through the web and other marketing means. I provided ongoing consulting during the logo creation process, then worked with Dartanyon closely to design and develop a fitting web presence.</p>
    <p>The site is built onto WordPress with the Roots framework, allowing for a beautifully responsive and simple to manage website.</p>
    <hr>
    <h3>Responsive website</h3>
    <img src="/static/images/projects/responsive-mowtell.jpg">
    <hr>
    <h3>About page</h3>
    <img src="/static/images/projects/mowtell-about.jpg">
  </div>
</div>
