---
title: NGSTech Conference
description: Event website for naturgal gas sampling industry conference.
layout: base
tags: case-study
hero: true
---

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3 text-left md:text-right">
    <h3 class="my-0">Roles</h3>
    <p>PM, Design, Development</p>
    <h3 class="mb-0">Software</h3>
    <p>WordPress, NodeJS</p>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <h2>About</h2>
    <p>The biannual NGSTech Conference required an updatable, informative website as well as a proper online registration and payment system.</p>
    <p>After designing the 2 interfaces, I developed the public site into a custom, responsive WordPress theme while Chris McKnight developed the registration component onto Node with PayPal API integration.</p>
    <p>The project's inaugural use was very successful, and they intend to continue feature development for the next conference.</p>
    <hr>
    <img src="/static/images/projects/responsive-ngstech.jpg">
    <hr>
    <img src="/static/images/projects/monitor-front-ngstech.jpg">
    <hr>
    <img src="/static/images/projects/monitor-right-ngstech-gallery.jpg">
  </div>
</div>
