---
title: pfsync
description: Marketing website for iOS application that enables native public folders.
layout: base
tags: case-study
nav: inverse
hero: false
---
<div class="cs-section bg-[#7fc346] bg-[url('/static/images/projects/pfsync/pfsync-hero.png')] bg-cover bg-center text-white">
  <div class="cs-content">
    <h1 class="text-white"><span class="bg-[rgba(102,162,52,.75)]">Microsoft Exchange&rsquo;s Public Folders natively on any device</span></h1>
    <p class="font-bold text-black"><span class="bg-[rgba(255,255,255,.26)]">Conception, Branding, Website</span></p>
  </div>
</div>

<div class="cs-section">
  <div class="cs-content">
    <h2>ActiveSync has limitations</h2>
    <p>Microsoft Exchange offers a lovely feature called Public Folders, which allows companies to create a single pool of contacts, calendar events, etc. and share them amongst employees. Outlook natively supports these features, and it integrates nicely. Even better, access to these shares is managed via Active Directory, so IT has full control.</p>
    <p>A client approached the IT team at Immense Networks wanting to access this data on their mobile devices. While a user&rsquo;s contacts, emails, and calendars sync flawlessly with nearly any device, Public Folder synchronization is a lacking feature of ActiveSync.</p>
    <p>So, we looked for solutions.</p>
  </div>
</div>

<div class="cs-section bg-[#f2ffe3]">
  <div class="cs-content">
    <h2>Building a SaaS</h2>
    <p>Other companies have developed solutions to this problem; most require users to download a 3rd party app on their device, then it forces them to use that app rather than the device&rsquo;s native Contacts and Calendar apps. This was cumbersome and unacceptable.</p>
    <blockquote>We wanted to integrate Public Folders natively into a device’s core experience.</blockquote>
    <p>We only found a single product on the market which worked natively on a user&rsquo;s device, called numbered. This initially seemed great, but further inspection revealed 2 terrible things:</p>
    <div class="text-base grid md:grid-cols-2 md:gap-16">
      <div>
        <h3>A program must be installed onto the Exchange server.</h3>
        <p>This is terrible for so many reasons. What if a company is using Office 365? What if they don&rsquo;t have their own Exchange server? What if an IT company has a server with 200 separate  company Exchange accounts on it?</p>
      </div>
      <div>
        <h3>Information is replicated into each user&rsquo;s Personal Mailbox.</h3>
        <p>So, Outlook hits Public Folders natively, other devices hit a subfolder with duplicates of Public Folder data, and we&rsquo;re supposed to trust that numbered will sync it all with no issues. This seemed overengineered.</p>
      </div>
    </div>
    <p>Our search continued for an acceptable solution to recommend to our clients, but the inevitable conclusion was clear: <strong>the only way to give our clients the experience they deserved was to build it ourselves</strong>.</p>
    <img class="md:mx-auto" src="/static/images/projects/pfsync/feature-how-it-works.png" alt="How pfsync works">
    <p>The idea was simple. We would build a dedicated web service to extend ActiveSync&rsquo;s functionality to include Public Folder data. We would then authenticate against Exchange servers as individual users, which would limit access to Public Folders based on that user&rsquo;s permissions. We then wrap everything in a subscription-based SaaS and start promoting it.</p>
    <p>Immense was in a unique position to test the service with select IT clients, eventually get them on a monthly retainer for it, then ultimately offer it to the masses.</p>
  </div>
</div>


<div class="cs-section">
  <div class="cs-content">
    <h2>Making pfsync marketable</h2>
    <p>While backend developers were building a functional prototype, I pursued selling a magnificent product. The name pfsync came so naturally, and the remaining discovery snowballed from there.</p>
    <p>pfsync would be an extension of the ActiveSync protocol, filling in the gaps to offer the user a truly native experience regardless of device. This bond with ActiveSync served as inspiration for pfsync’s identity, right down to the green color scheme.</p>
    <img class="mx-auto" src="/static/images/projects/pfsync/pfsync-brand-breakdown.jpg" alt="pfsync logo">
    <p>I created something reminiscent of the ActiveSync logo from the Windows XP era, which I felt would resonate with this product’s primary userbase – passionate IT professionals who have likely been in this game for while.</p>
  </div>
</div>

<div class="cs-section pb-0 text-white bg-[#66a234]">
  <div class="cs-content">
    <h2 class="text-white">Identifying the audience</h2>
    <p>It was obvious to me that the only people searching for this product would be IT professionals who manage corporate networks for lots of users. I interviewed numerous potential customers in this space and prioritized their most frequent concerns for the website’s primary goals:</p>
    <div class="not-prose">
      <ol class="big-list">
        <li><span class="number bg-[#528925]">»</span> <span class="text bg-[#7fc346]">Is it secure?</span></li>
        <li><span class="number bg-[#528925]">»</span> <span class="text bg-[#7fc346]">How does it work?</span></li>
        <li><span class="number bg-[#528925]">»</span> <span class="text bg-[#7fc346]">How can I manage it?</span></li>
        <li><span class="number bg-[#528925]">»</span> <span class="text bg-[#7fc346]">How can I test it (like, right now)?</span></li>
      </ol>
    </div>
    <p>I designed an effective website that resonates with the target audience. This project is still under active development, but much of the foundation is complete.</p>
    <img src="/static/images/projects/pfsync/pfsync-public-site-overview.jpg" alt="pfsync home page mockup">
  </div>
</div>

<div class="cs-section">
  <div class="cs-content">
    <h2>Making decisions</h2>
    <p>There is no point in denying that I was inspired by GoDaddy&rsquo;s sign in flydown. I wanted this single container to accomplish 3 specific goals:</p>
    <div class="not-prose">
      <ol class="big-list">
        <li><span class="number bg-[#B1B1B1]">1</span> <span class="text bg-[#D5D5D5]">
          Allow existing customers to sign in</span></li>
        <li><span class="number bg-[#B1B1B1]">2</span> <span class="text bg-[#D5D5D5]">Give new customers who clicked the button out of pure exploration a chance to register an account</span></li>
        <li><span class="number bg-[#B1B1B1]">3</span> <span class="text bg-[#D5D5D5]">Promote the product&rsquo;s 15 second elevator pitch, in case anyone forgot why they were here in the first place</span></li>
      </ol>
    </div>
  </div>
  <img class="mx-auto" src="/static/images/projects/pfsync/sign-in-flydown.gif" alt="pfsync navigation design">
  <div class="cs-content">
    <p>The remainder of the page addresses each concern that potential customers may have, complete with simple graphics and honest copy.</p>
    <img class="mx-auto" src="/static/images/projects/pfsync/pfsync-account-management.jpg">
  </div>
</div>

<div class="cs-section bg-[#f2ffe3]">
  <div class="cs-content">
    <h2>What I learned</h2>
    <p>Building a subscription-based web application is complicated, requiring everything from branding, to scalability, to credit card processing, to testing, to tech support, to&hellip;</p>
    <p>This project is still being ironed out, but it&rsquo;s been an educational ride so far.</p>
  </div>
</div>
