---
title: Sweets & Treats Baking Supplies
description: Marketing website for Sweets & Treats baking supplies.
layout: base
tags: case-study
hero: true
---

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3 text-left md:text-right">
    <h3 class="my-0">Roles</h3>
    <p>PM, Design, Development</p>
    <h3 class="mb-0">Software</h3>
    <p>Magento, WordPress</p>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <h2>About</h2>
    <p>Shannon's new web store was launched to promote her new line of products.</p>
    <p>Large desktop mockups were provided by the designer, and I was given creative freedom with converting those images into an interactive and responsive website.</p>
    <p>Shannon's line-of-business softwares rely on Magento, so I developed onto the <a href="https://github.com/webcomm/magento-boilerplate">magento-boilerplate</a> starter theme, allowing for gulp tasks and simpler version control.</p>
    <p>One challenge was to design a way for users to make 20 color/pattern selections to fill an assorted case. I chose a grid layout with thumbnails that would adjust its rows with the screen, which proved rather difficult to implement in Magento, but <a href="https://github.com/cmckni3">Chris McKnight</a> helped bring this vision to life.</p>

    <hr>
    <h3>Web store home page</h3>
    <img src="/static/images/projects/sweets-store-home.jpg">
    <hr>
    <h3>Single product page</h3>
    <img src="/static/images/projects/sweets-wholesale-cupcake-liners.jpg">
    <hr>
    <h3>WordPress marketing blog</h3>
    <img src="/static/images/projects/sweets-blog-home.jpg">
  </div>
</div>
