---
title: Tool Tracker
description: Tool Tracker is a cooperative website and iOS application that helps ISC Constructors track equipment for jobsites and invoice clients accordingly.
layout: base
tags: case-study
nav: inverse
hero: false
---
<div class="cs-section bg-[#012c71] bg-[url('/static/images/projects/tool-tracker/hero-tool-tracker.jpg')] bg-cover bg-center text-white">
  <div class="cs-content">
    <img class="mx-auto" src="/static/images/projects/tool-tracker/tool-tracker-logo-and-appicon.png" alt="Contact Mover v2.0 logo" />
    <h1 class="text-white text-center">Barcoded tool transfer management</h1>
    <p class="font-bold">Product owner, Design, Development</p>
  </div>
</div>

<div class="cs-section">
  <div class="cs-content">
    <h2>Where's the tools?</h2>
    <p>ISC Constructors designs and installs complex electrical and power management systems. They do phenomenal work, and it&rsquo;s easy to see how passionate they are by looking at their beautiful installations.</p>
    <p>One process that makes their operation tick is a paper-based system that employees use to request the various tools they need at a particular job site. Each requisition goes through a process:</p>
    <div class="not-prose">
      <ol class="big-list">
        <li><span class="number bg-[#B1B1B1]">1</span> <span class="text bg-[#D5D5D5]">Employee requests tool(s) for some job during some date range</span></li>
        <li><span class="number bg-[#B1B1B1]">2</span> <span class="text bg-[#D5D5D5]">Requests are approved or denied based on tool availability and other factors</span></li>
        <li><span class="number bg-[#B1B1B1]">3</span> <span class="text bg-[#D5D5D5]">Approved tools are collected and scheduled for delivery</span></li>
        <li><span class="number bg-[#B1B1B1]">4</span> <span class="text bg-[#D5D5D5]">Tools are delivered to the job site, and someone signs off</span></li>
      </ol>
    </div>
    <p>A separate <em>return home</em> request occurs when tools are no longer needed, and the same workflow commences in reverse. The tool dispersal process was far from perfect, but it got the job done for many years.</p>
  </div>
</div>

<div class="cs-section text-white bg-[#012c71] bg-gradient-to-r from-[#36598f] to-[#012c71]">
  <div class="cs-content">
    <h2 class="text-white">Switching software</h2>
    <p>ISC eventually embraced a line-of-business software called Viewpoint for project management, invoicing, estimating, etc., which offered more efficient and paperless opportunities.</p>

    <img class="md:mx-auto" src="/static/images/projects/tool-tracker/viewpoint-logo.png" />

    <p>However, the inevitable problem with any off-the-shelf software is that it only does 90% of what you really need it to do. ISC soon discovered that Viewpoint could not accommodate tool tracking and, therefore, it could not invoice tool rentals to job sites.</p>
  </div>
</div>

<div class="cs-section">
  <div class="cs-content">
    <h2>The discovery process</h2>
    <p>ISC approached us to deliver a solution to this problem, and our solution would ultimately need to submit data into Viewpoint so that it could be invoiced appropriately.</p>
    <p>This was also a wonderful opportunity to identify and improve pain points in the existing tool transfer process, which was far from perfect.</p>

    <div class="not-prose">
      <ul class="big-list">
        <li class="border border-[#f0234f]"><span class="number bg-[#f0234f] text-white">»</span> <span class="text">Requesters can write anything they want on the tool request form, so bad data came across the approver&rsquo;s desk all the time</span></li>
        <li class="border border-[#f0234f]"><span class="number bg-[#f0234f] text-white">»</span> <span class="text">Approvers do not readily know where every tool is at any given time</span></li>
        <li class="border border-[#f0234f]"><span class="number bg-[#f0234f] text-white">»</span> <span class="text">Tools would sometimes be unusable upon delivery, and employees needed to reject them</span></li>
        <li class="border border-[#f0234f]"><span class="number bg-[#f0234f] text-white">»</span> <span class="text">There was no system overview of all requisitions and tools</span></li>
        <li class="border border-[#f0234f]"><span class="number bg-[#f0234f] text-white">»</span> <span class="text">It was not easy to identify who or what caused a disruption to the requisition process</span></li>
      </ul>
    </div>

    <p>As far as positives, ISC did have 2 things that we considered hugely beneficial:</p>

    <div class="not-prose">
      <ul class="big-list">
        <li class="border border-[#24dd50]"><span class="number bg-[#24dd50] text-white">»</span> <span class="text">Well-established workflow that employees understood</span></li>
        <li class="border border-[#24dd50]"><span class="number bg-[#24dd50] text-white">»</span> <span class="text">Entire tool inventory was individually (and uniquely) barcoded</span></li>
      </ul>
    </div>
  </div>
</div>

<div class="cs-section text-white bg-[#012c71] bg-gradient-to-r from-[#36598f] to-[#012c71] relative pb-[200px]">
  <div class="cs-content">
    <h2 class="text-white">Focusing on what's most important</h2>
    <p>Many pain points would be solved as a natural side effect of switching to a digital process, so we honed the project requirements to a focused-set of goals:</p>
    <div class="text-base grid md:grid-cols-2 md:gap-16">
      <div>
        <h3 class="text-white">Data integrity is most critical</h3>
        <p>The most important process in Tool Tracker is that meaningful and accurate data gets imported into Viewpoint, because this data ultimately finds its way onto an invoice. Every decision was made with this in mind.</p>
      </div>
      <div>
        <h3 class="text-white">Introduce employee accountability</h3>
        <p>The old paper-based tool transfer method was prone to many issues, and there was no good method for determining who was the last person to interact with a particular tool. We have an opportunity to change that.</p>
      </div>
    </div>
    <p>We would build 2 separate applications: a website for tool request creation and approvals, and an iOS application for field tasks like picking, loading, and unloading. An iPhone mated with a laser barcode scanner was the perfect gadget for transitioning tools.</p>

    <img class="absolute -left-[70px] bottom-0" src="/static/images/projects/tool-tracker/tool-tracker-linea-pro.png" />
  </div>
</div>

<div class="cs-section bg-[#]">
  <div class="cs-content">
    <h2>iOS component</h2>
    <p>Once satisfied with the general workflow of the iOS app on my whiteboard and Visio diagrams, I created low-fidelity prototypes in FluidUI. This ultimately established preliminary design decisions including which workflows were acceptable and, more importantly, which ones were terrible.</p>
    <p>I was able to consider which information the user would need at each point in time, then I could quickly test it on an actual device for a proper experience. The client was involved with this process, ensuring we simplified the interface as much as possible while retaining core functionality.</p>
  </div>
  <img class="mx-auto" src="/static/images/projects/tool-tracker/full-tooltracker-fluidui.jpg" />
  <div class="cs-content">
    <p>I built upon the approved prototypes to design higher-fidelity mockups, which would serve as the UI goal of the final product. I was continuously involved with the development process to test each workflow from the user&rsquo;s perspective, and I prioritized changes as needed.</p>
    <img class="mx-auto" src="/static/images/projects/tool-tracker/fluidui-vs-mockups.jpg" />
    <p>I incorporated a number pad entry method where I thought it would benefit the user greatly, such as logging back in after being idle. The most helpful use of the number pad allows barcodes to be entered manually, which eliminates the dependency on a barcode scanner attachment and makes Tool Tracker 100% functional on any iPod, iPad, or iPhone.</p>
    <img class="mx-auto" src="/static/images/projects/tool-tracker/ios-tooltracker-pinscreens.jpg" />
  </div>
</div>

<div class="cs-section bg-[#e0e7f1]">
  <div class="cs-content">
    <h2>Logo & app icon</h2>
    <p>I was given full creative freedom with the logo and iOS app icon. I continued with styling queues that evolved during the prototyping phase, which were already extensions of ISC&rsquo;s existing branding guidelines  and logo—a faux italic version of Impact Regular (you have to pick your battles, but I am pleased with the outcome regardless).</p>
  </div>
  <img class="mx-auto" src="/static/images/projects/tool-tracker/logo-tool-tracker.jpg" />
</div>

<div class="cs-section bg-[#]">
  <div class="cs-content">
    <h2>Website component</h2>
    <p>The web-based Node application allows users to formally request and transfer tools between various job sites and company locations, tracking tool locations and handlers throughout each lifecycle. I designed the interfaces, built the jade HTML templates, and created the LESS-based stylesheets.</p>
    <p>Account registration queries Viewpoint, an internal management application. All users must have an active employee ID to register. Integration with LDAP allows single sign on for applicable users, and non LDAP employees are guided through account creation.</p>
  </div>
  <img src="/static/images/projects/tool-tracker/tool-tracker-signin-registration.jpg" alt="Tool Tracker signin and registration">
  <div class="cs-content">
    <h3>Heads up display</h3>
    <p>The heads up display (HUD) page was designed to be visible on a large monitor all day, and web sockets allow real-time updates as tools transition between column states.</p>
  </div>
  <img src="/static/images/projects/tool-tracker/hud-beaumont.jpg" alt="Tool Tracker heads up display">
  <div class="cs-content">
    <h3>Batch transfer</h3>
    <p>A special permission was established that would allow certain users to create Batch Transfer files, which would be imported into Viewpoint for billing purposes. This functionality is what makes everything else worthwhile, so it had to be perfect.</p>
    <p>I worked with Viewpoint&rsquo;s own development team to create an integration method that would absolutely guarantee successful data imports without negative side effects. Lucky for us, this simply involved exporting our MongoDB data to a CSV file, particularly formatted, which would then be imported and processed within Viewpoint. Our most important priority here was to ensure each tool transfer is only exported to that file <strong>one time</strong>.</p>
  </div>
  <img src="/static/images/projects/tool-tracker/tool-tracker-batch-transfer.jpg" alt="Tool Tracker batch transfer">
</div>

<div class="cs-section bg-[#cfd7bb]">
  <div class="cs-content">
    <h2>What I learned</h2>
    <p>I learned how crucially important it is to plan a project before opening Photoshop or a text editor, especially when part of the goal is to (vaguely) improve upon some existing workflow while translating that workflow to another medium.</p>
    <p>I also learned important project management takeaways like identifying stakeholders, keeping detailed meeting notes, and understanding not only what we were building, but why and how we were building it one way instead of some other way; helpful when presenting to clients.</p>
    <p>From a technical perspective, I witnessed the benefits of making the API a first-class citizen.</p>
  </div>
</div>
