---
title: WP Engine Miscellaneous Collection
description: Miscellaneous designs and projects created for WP Engine.
layout: base
tags: case-study
hero: true
---

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3">
    <h2 class="my-0 text-lg">2016 Q1 All Hands - Come Together</h2>
    <p>WP Engine throws a company-wide event several times each year where all employees are brought to Austin, TX for a week of events.</p>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <img src="/static/images/projects/wpemisc-come-together.jpg" alt="WP Engine 2016 Q1 All Hands - Come Together">
  </div>
</div>

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3">
    <h2 class="my-0 text-lg">1920s holiday party</h2>
    <p>Company holiday party influenced by The Great Gatsby</p>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <img src="/static/images/projects/wpemisc-gatsby.jpg" alt="WP Engine 1920s holiday party">
  </div>
</div>

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3">
    <h2 class="my-0 text-lg">Platform marchitecture</h2>
    <p>Visual depiction of WP Engine's platform offering, including service and technology.</p>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <img src="/static/images/projects/wpemisc-marchitecture.jpg">
  </div>
</div>

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3">
    <h2 class="my-0 text-lg">Movember</h2>
    <p>Mustache version of the logo for all internal Movember materials</p>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <img src="/static/images/projects/wpemisc-movember.jpg" alt="Branded Movember logo">
  </div>
</div>

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3">
    <h2 class="my-0 text-lg">Austin capitol icon</h2>
    <p>Vector icon of the Austin capitol building</p>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <img src="/static/images/projects/wpemisc-austin-capitol.jpg" alt="Austin capitol building vector icon">
  </div>
</div>
