---
title: PHP Compatibility Checker Plugin
description: 
layout: base
tags: case-study
hero: true
---

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3 text-left md:text-right">
    <h3 class="my-0">Roles</h3>
    <p>UX, Conversion optimization</p>
    <h3 class="mb-0">Software</h3>
    <p>WordPress plugin</p>
    <h3 class="mb-0">Demo</h3>
    <a href="https://wordpress.org/plugins-wp/php-compatibility-checker/">WP Plugin</a>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <h2>Summary</h2>
    <p>I updated WP Engine's <a href="https://wordpress.org/plugins-wp/php-compatibility-checker/">PHP Compatibility Checker plugin</a>, for WordPress, as part of a marketing effort to educate users about the benefits of PHP 7 when compared to previous versions. This campaign would also announce that WP Engine is compatible with sites built for PHP 7, and efforts should seek to increase conversions (signups) where possible.</p>

    <h2>Strategy</h2>
    <p>Working closely with our web strategist <a href="https://twitter.com/davidvmc">David Vogelpohl</a>, my deliverables would include the following:</p>

    <ul>
      <li>Rethink the UI so that viewing PHP errors is more intuitive and requires less scrolling</li>
      <li>Include links for non-technical users who need assistance from developers to fix PHP errors or to test their site in PHP 7 enabled hosting environments</li>
      <li>A <a href="https://wpengine.com/try/php7-hosting/" rel="nofollow">landing page</a> to promote WP Engine and encourage signups</li>
    </ul>

    <h2>Implementation</h2>

    <h3>Scan results</h3>
    <p>I simplified the scan results area immensely with guidance from <a href="https://github.com/octalmage">Jason Stallings</a>, lead developer on the plugin. Rows are tighter to take up less vertical space, and only relevant status notifications are displayed. Report download and data clearing functionalities are conveniently grouped near the top of the results section.</p>
    <img src="/static/images/projects/phpcompat-ui-results-v02.png" alt="PHP Compatibility Checker scan results">

    <h3>Scan options</h3>
    <p>Slight improvements to the scan options section include concise instructions, better form labels, and simplified scan progress indicator. My goal here was to simplify things so that the form alone would provide all usage instructions.</p>
    <img src="/static/images/projects/phpcompat-ui-scan-v02.png" alt="PHP Compatibility Checker scan options">

    <h3>Calls-to-action</h3>
    <p>The CTAs differ depending on the state of the scan; users who have never run a scan will see different messaging than those who have generated errors, and a scan running on the WP Engine platform will see a separate one as well.</p>
    
    <p>This project included cooperative effort with a partner, <a href="https://codeable.io/">Codeable</a>, to implement a report submission feature to get help from their community of WordPress developers.</p>
    
    <img src="/static/images/projects/phpcompat-ctas.gif">

    <h3>Landing page</h3>
    <p>This <a href="https://wpengine.com/try/php7-hosting/" rel="nofollow">landing page</a> continues the scent trail established within the plugin; I assume (and control) that users who land here have come from the plugin and via specific CTAs. With help from <a href="https://oliverwhitham.com/" target="_blank">Oliver Whitham</a>, our SEO strategist, this page reiterates the benefits of PHP 7 and how they are elevated when coupled with WP Engine. The goal of this page is to increase signups, though we accept that conversions will be relatively low due to the nature of visitors to this page.</p>
    
    <img src="/static/images/projects/phpcompat-lp.jpg" alt="PHP Compatibility Checker landing page">

    <h2>Results</h2>
    <p>We experienced a record number of downloads on the day this update was released and steadily-healthy numbers afterwards. We are monitoring engagements and conversions which will be used to iterate over these designs, once a conversion baseline is established. More to come later.</p>
    
    <img src="/static/images/projects/phpcompat-downloadsperday.gif">

    <h2>What I Learned</h2>
    <ul>
      <li>UX and CRO theories are great on a white board, but assumptions are often wrong</li>
      <li>Lifting conversions is hard, even if you control the entire workflow</li>
      <li>Working with 3rd parties (Codeable, in this case) is an exciting opportunity</li>
      <li>Some people are downright mean when judging lacking features of an open source project with a public repo</li>
    </ul>
  </div>
</div>
