---
title: Velocitize Magazine
description: 
layout: base
tags: case-study
hero: true
---

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3 text-left md:text-right">
    <h3 class="my-0">Roles</h3>
    <p>Design</p>
    <h3 class="mb-0">Software</h3>
    <p>WordPress</p>
    <h3 class="mb-0">Demo</h3>
    <a href="https://velocitize.com/">Check it out</a>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <h2>Summary</h2>

    <p>WP Engine was to release an online publication with content for the digital marketer. In their words:</p>
    <blockquote>Velocitize informs, educates, and inspires digital marketers and agencies by offering strategic insights tied to open source for and by industry experts.</blockquote>

    <h2>Strategy</h2>
    <p>The site would be visited by a large audience with various levels of expertise in the digital marketing realm. So, while it needed to feel somewhat cutting edge, it primarily needed to be intuitive and functional.</p>

    <h2>Implementation</h2>
    <p>Working with managing editor <a href="https://twitter.com/mdodson12">Marie Dodson</a>, we decided to limit the number of categories an article must fit within and use them for the primary navigation. Then I positioned the articles into a familiar grid pattern, peppered with simple hover effects.</p>

    <h3>Home page</h3>
    <p>Showcasing featured articles as well as the most recent ones, the homepage is a great place to get the latest trends Velocitize is reporting on.</p>
    <img src="/static/images/projects/velocitize-home.jpg" alt="Velocitize homepage screenshot">

    <hr>
    <h3>Single post page</h3>
    <p>The content of each article overlaps onto the large hero image. This creates a bit of depth and provides a visual cue to draw the user's eyes into the article.</p>
    <img src="/static/images/projects/velocitize-singlepost.jpg" alt="Velocitize single post screenshot">

    <hr>
    <h3>Logo slide detail</h3>
    <p>The logo slides in from the side when the user scrolls down the page, then it slides back out when going back to the top. This acts as a subtle reminder of the name of the website, which was a goal for this new brand.</p>
    <img src="/static/images/projects/velocitize-logo-slide.gif" alt="Sliding Velocitize logo">

    <hr>
    <h3>Newsletter detail</h3>
    <p>Users can register for the newsletter via a self-triggered popup on any page of the site.</p>
    <img src="/static/images/projects/velocitize-newsletter.png" alt="Newsletter signup">

    <h2>Results</h2>
    <p>Velocitize has quickly grown to over 80 articles in its first year, and its readership continues to expand.</p>
  </div>
</div>
