---
title: WP Engine Speed Tool
description: 
layout: base
tags: case-study
hero: true
---

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3 text-left md:text-right">
    <h3 class="my-0">Roles</h3>
    <p>Design</p>
    <h3 class="mb-0">Software</h3>
    <p>WordPress, WebPageTest</p>
    <h3 class="mb-0">Demo</h3>
    <a href="https://wpengine.com/speed-tool/">Try it out</a>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <h2>About this project</h2>

    <p>The primary goal of the speed tool project is to provide recommendations that may improve a page's speed and performance.</p>

    <h3>URL Submission</h3>
    <p>Users can submit a URL to be analyzed for speed improvements.</p>
    <img src="/static/images/projects/speedtool-index.jpg" alt="Speed Tool landing page">

    <hr>

    <h3>Email with results link</h3>
    <p>Once the page has been analyzed, uers receive an email with a link to their results.</p>
    <img src="/static/images/projects/speedtool-email.png" alt="Speed Tool results">

    <hr>

    <h3>Results page</h3>
    <p>The primary goal of the speed tool project would provide an analysis of a given URL with things and stuff.</p>
    <img src="/static/images/projects/speedtool-results.jpg" alt="Speed Tool results">
  </div>
</div>
