---
title: WP Engine Livechat
description: 
layout: base
tags: case-study
hero: true
---

<div class="md:flex md:mx-auto md:max-w-6xl p-4 pt-8 md:p-10">
  <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3 text-left md:text-right">
    <h3 class="my-0">Roles</h3>
    <p>Concept, Design</p>
    <h3 class="mb-0">Software</h3>
    <p>LiveChat</p>
  </div>
  <div class="md:px-5 md:flex-none md:w-2/3 prose">
    <h2>Summary</h2>
    <p>WP Engine uses a chat feature on <a href="https://wpengine.com/">wpengine.com</a> to answer questions for users browsing the site. However, a large number of existing customers would use this chat interface to submit technical support requests, which was an inefficient use of the sales team's time and expertise.</p>

    <p>This was a clear indication that many customers were not aware of the appropriate process for contacting our dedicated support team. So, an abrupt solution was put into place in November allowing a user to choose whether they were a new or existing customer, then that user would be sent to either the sales or support team. Our sales team saw a large reduction in chat volume as a result (see graph below) and support satisfaction remained consistent, which was great.</p>

    <img class="md:mx-auto" src="/static/images/projects/livechat-sales-or-support.png">

    <p>Since visitors who chat are more likely to convert into customers, I was tasked with increasing the number of sales chat engagements while retaining this user segmentation. I was also tasked with creating a custom Livechat theme to match WP Engine's brand and make it feel more integrated with the website (rather than a separate embedded piece of software).</p>

    <h2>Strategy</h2>
    <p>I researched existing chat applications such as HipChat, Slack, and Facebook Messenger, identifying features that users may expect to experience. I setup a demo Livechat account to work in a safe playground. I also setup a separate instance of the WP Engine website so I could demo the full experience for stakeholders.</p>

    <h2>Implementation</h2>
    <p>I designed the new sales chat interface to trigger an instinctual, emotional response to the chat window. It pops up after a few seconds to draw the eye, and the overall design suggests that Rebecca (a real sales team employee) has already initiated the conversation. The number 1 enclosed in a red circle creates a sense of urgency as if it were an unaccomplished task, like an unread text message or email.</p>

    <img class="md:mx-auto" src="/static/images/projects/livechat-old-new.jpg">

    <h2>Results</h2>
    <p>We saw an increase of over 175% for sales chat engagements within days of launching the newly designed segmented chat window, and that increase has remained consistent.</p>

    <img class="md:mx-auto" src="/static/images/projects/livechat-report.jpg">

    <h2>What I learned</h2>
    <ul>
      <li>Livechat has a good API with documentation</li>
      <li>Effective design caters to human instincts and expectations</li>
      <li>iframes are neat (not)</li>
    </ul>
  </div>
</div>
